#main{
    height: 300px;
    width: 250px;
    border:2px black solid;
    border-radius: 20px;
    margin:auto;
}
#one{
    height: 50%;
    width: 100%;
    background-color: blue;
    border-radius: 20px;
}
#two{
    height: 50%;
    width: 100%; 
    border-radius: 20px;
}
#one img{
    height: 100px;
    width: 100px;
    border-radius: 60%;
    border: 2px solid;
    position: relative;
    
    
    
}



